/* FULL PAGE */
.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* LEFT */
.login-left {
  width: 45%;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  border-radius: 0 300px 300px 0;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-content {
  text-align: center;
  margin-top: 80px;
}

.logo {
  width: 60px;
  height: 60px;
  background: white;
  color: #16a34a;
  border-radius: 50%;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}

.ghost-btn {
  width: 160px;
  height: 42px;
  margin: 0 auto 40px;
  border-radius: 24px;
  background: transparent;
  border: 1.5px solid white;
  color: white;
}

/* RIGHT */
.login-right {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 360px;
}

.input {
  height: 44px;
  border-radius: 22px;
  background: #ecfdf5;
  border: none;
}

.input input {
  background: transparent;
}

.forgot {
  font-size: 12px;
  color: #047857;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}

.login-btn {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  border: none;
}

.signup {
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}
